@model ProductDetailViewModel
@{ ViewData["Title"] = "Detail";
				Layout = "~/Views/Shared/_Layout.cshtml";
				var culture = CultureInfo.CurrentCulture; }
@inject Microsoft.Extensions.Configuration.IConfiguration Configuration;
@inject LazZiya.ExpressLocalization.ISharedCultureLocalizer _loc;



<div class="text-left">

	<h1 class="display-4">@Model.Product.Name</h1>


	<h2 class="display-5 text-left" localize-content>Training Information</h2>
	<table class="table table-borderless table-hover">
		<tr>
			<th style="text-transform: uppercase; max-width: 15px"><strong localize-content>Trainer </strong></th>
			<td style="max-width: 100px ">@Model.Product.TrainerEmail</td>
		</tr>
		<tr>
			<th style="text-transform: uppercase; max-width: 15px"><strong localize-content>Types </strong></th>
			<td style="max-width: 100px ">@Model.Product.TrainingTypes</td>
		</tr>
		<tr>
			<th style="text-transform: uppercase; max-width: 15px"><strong localize-content>Address </strong></th>
			<td style="max-width: 100px ">@Model.Product.Address</td>
		</tr>
		<tr>
			<th style="text-transform: uppercase; max-width: 15px"><strong localize-content>Start </strong></th>
			<td style="max-width: 100px ">@Model.Product.Start.ToShortDateString()</td>
		</tr>
		<tr>
			<th style="text-transform: uppercase; max-width: 15px"><strong localize-content>End </strong></th>
			<td style="max-width: 100px ">@Model.Product.End.ToShortDateString()</td>
		</tr>
	</table>

	<hr>

	<h2 class="display-5 text-left" localize-content>Training Description</h2>

	<p>@Model.Product.Description</p>

	<hr>


	<h2 class="display-5 text-left" localize-content>Training Detail</h2>
	<p>
		@Html.Raw(Model.Product.Details)
	</p>

	<p style="font-size: 16px;">
		<strong style=""><localize>Contact to get more information</localize></strong>
		<br />
		<a href="https://fpt.com.vn/en/about-us/member-companies" title=""> <localize>FPT Training Corporation</localize></a>
	
	</p>

</div>
