@model HomeViewModel
@using FPT.ViewModels.Catalog.Products;
@inject LazZiya.ExpressLocalization.ISharedCultureLocalizer _loc;
@inject Microsoft.Extensions.Configuration.IConfiguration Configuration;
@{ var culture = CultureInfo.CurrentCulture.Name; }
@{ ViewData["Title"] = "FPT Training Home Page"; }


<style>



		html {
	background-color: var(--bg2) !important;
	}


	body {
		background-color: var(--bg2) !important;
		font-family: var(--font);
	}

	.card-margin {
		margin-bottom: 1.875rem;
	}

	.card {
		border: 0;
		box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.1);
		-webkit-box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.1);
		-moz-box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.1);
		-ms-box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.1);
	}

	.card {
		position: relative;
		display: flex;
		flex-direction: column;
		min-width: 0;
		word-wrap: break-word;
		background-color: #ffffff;
		background-clip: border-box;
		border: 1px solid #e6e4e9;
		border-radius: 8px;
	}

		.card .card-header.no-border {
			border: 0;
		}

		.card .card-header {
			background: none;
			padding: 0 0.9375rem;
			font-weight: 500;
			display: flex;
			align-items: center;
			min-height: 50px;
		}

	.card-header:first-child {
		border-radius: calc(8px - 1px) calc(8px - 1px) 0 0;
	}

	.widget-49 .widget-49-title-wrapper {
		display: flex;
		align-items: center;
	}

		.widget-49 .widget-49-title-wrapper .widget-49-date-primary {
			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: column;
			background-color: #edf1fc;
			width: 4rem;
			height: 4rem;
			border-radius: 50%;
		}

			.widget-49 .widget-49-title-wrapper .widget-49-date-primary .widget-49-date-day {
				color: #4e73e5;
				font-weight: 500;
				font-size: 1.5rem;
				line-height: 1;
			}

			.widget-49 .widget-49-title-wrapper .widget-49-date-primary .widget-49-date-month {
				color: #4e73e5;
				line-height: 1;
				font-size: 1rem;
				text-transform: uppercase;
			}

		.widget-49 .widget-49-title-wrapper .widget-49-date-secondary {
			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: column;
			background-color: #fcfcfd;
			width: 4rem;
			height: 4rem;
			border-radius: 50%;
		}

			.widget-49 .widget-49-title-wrapper .widget-49-date-secondary .widget-49-date-day {
				color: #dde1e9;
				font-weight: 500;
				font-size: 1.5rem;
				line-height: 1;
			}

			.widget-49 .widget-49-title-wrapper .widget-49-date-secondary .widget-49-date-month {
				color: #dde1e9;
				line-height: 1;
				font-size: 1rem;
				text-transform: uppercase;
			}

		.widget-49 .widget-49-title-wrapper .widget-49-date-success {
			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: column;
			background-color: #e8faf8;
			width: 4rem;
			height: 4rem;
			border-radius: 50%;
		}

			.widget-49 .widget-49-title-wrapper .widget-49-date-success .widget-49-date-day {
				color: #17d1bd;
				font-weight: 500;
				font-size: 1.5rem;
				line-height: 1;
			}

			.widget-49 .widget-49-title-wrapper .widget-49-date-success .widget-49-date-month {
				color: #17d1bd;
				line-height: 1;
				font-size: 1rem;
				text-transform: uppercase;
			}

		.widget-49 .widget-49-title-wrapper .widget-49-date-info {
			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: column;
			background-color: #ebf7ff;
			width: 4rem;
			height: 4rem;
			border-radius: 50%;
		}

			.widget-49 .widget-49-title-wrapper .widget-49-date-info .widget-49-date-day {
				color: #36afff;
				font-weight: 500;
				font-size: 1.5rem;
				line-height: 1;
			}

			.widget-49 .widget-49-title-wrapper .widget-49-date-info .widget-49-date-month {
				color: #36afff;
				line-height: 1;
				font-size: 1rem;
				text-transform: uppercase;
			}

		.widget-49 .widget-49-title-wrapper .widget-49-date-warning {
			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: column;
			background-color: floralwhite;
			width: 4rem;
			height: 4rem;
			border-radius: 50%;
		}

			.widget-49 .widget-49-title-wrapper .widget-49-date-warning .widget-49-date-day {
				color: #FFC868;
				font-weight: 500;
				font-size: 1.5rem;
				line-height: 1;
			}

			.widget-49 .widget-49-title-wrapper .widget-49-date-warning .widget-49-date-month {
				color: #FFC868;
				line-height: 1;
				font-size: 1rem;
				text-transform: uppercase;
			}

		.widget-49 .widget-49-title-wrapper .widget-49-date-danger {
			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: column;
			background-color: #feeeef;
			width: 4rem;
			height: 4rem;
			border-radius: 50%;
		}

			.widget-49 .widget-49-title-wrapper .widget-49-date-danger .widget-49-date-day {
				color: #F95062;
				font-weight: 500;
				font-size: 1.5rem;
				line-height: 1;
			}

			.widget-49 .widget-49-title-wrapper .widget-49-date-danger .widget-49-date-month {
				color: #F95062;
				line-height: 1;
				font-size: 1rem;
				text-transform: uppercase;
			}

		.widget-49 .widget-49-title-wrapper .widget-49-date-light {
			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: column;
			background-color: #fefeff;
			width: 4rem;
			height: 4rem;
			border-radius: 50%;
		}

			.widget-49 .widget-49-title-wrapper .widget-49-date-light .widget-49-date-day {
				color: #f7f9fa;
				font-weight: 500;
				font-size: 1.5rem;
				line-height: 1;
			}

			.widget-49 .widget-49-title-wrapper .widget-49-date-light .widget-49-date-month {
				color: #f7f9fa;
				line-height: 1;
				font-size: 1rem;
				text-transform: uppercase;
			}

		.widget-49 .widget-49-title-wrapper .widget-49-date-dark {
			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: column;
			background-color: #ebedee;
			width: 4rem;
			height: 4rem;
			border-radius: 50%;
		}

			.widget-49 .widget-49-title-wrapper .widget-49-date-dark .widget-49-date-day {
				color: #394856;
				font-weight: 500;
				font-size: 1.5rem;
				line-height: 1;
			}

			.widget-49 .widget-49-title-wrapper .widget-49-date-dark .widget-49-date-month {
				color: #394856;
				line-height: 1;
				font-size: 1rem;
				text-transform: uppercase;
			}

		.widget-49 .widget-49-title-wrapper .widget-49-date-base {
			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: column;
			background-color: #f0fafb;
			width: 4rem;
			height: 4rem;
			border-radius: 50%;
		}

			.widget-49 .widget-49-title-wrapper .widget-49-date-base .widget-49-date-day {
				color: #68CBD7;
				font-weight: 500;
				font-size: 1.5rem;
				line-height: 1;
			}

			.widget-49 .widget-49-title-wrapper .widget-49-date-base .widget-49-date-month {
				color: #68CBD7;
				line-height: 1;
				font-size: 1rem;
				text-transform: uppercase;
			}

		.widget-49 .widget-49-title-wrapper .widget-49-meeting-info {
			display: flex;
			flex-direction: column;
			margin-left: 1rem;
		}

			.widget-49 .widget-49-title-wrapper .widget-49-meeting-info .widget-49-pro-title {
				color: #3c4142;
				font-size: 14px;
			}

			.widget-49 .widget-49-title-wrapper .widget-49-meeting-info .widget-49-meeting-time {
				color: #B1BAC5;
				font-size: 13px;
			}

	.widget-49 .widget-49-meeting-points {
		font-weight: 400;
		font-size: 13px;
		margin-top: .5rem;
	}

		.widget-49 .widget-49-meeting-points .widget-49-meeting-item {
			display: list-item;
			color: #727686;
		}

			.widget-49 .widget-49-meeting-points .widget-49-meeting-item span {
				margin-left: .5rem;
			}

	.widget-49 .widget-49-meeting-action {
		text-align: right;
	}

		.widget-49 .widget-49-meeting-action a {
			text-transform: uppercase;
		}
</style>


<div class="container">

	<h1 class="display-4" localize-content>Newest Training Course</h1>



	<div class="row">
		@foreach (var item in Model.LatestProducts)
		{
			var url = $"/{culture}/{_loc["productUrl"]}/{item.Id}";

	<div class="col-lg-4">
		<div class="card card-margin" style="line-height: 30px;">
			<div class="card-header no-border">
				<h4 class="card-title"
					style="color: midnightblue;
							display: block;
							font-weight: bold;
							text-transform: uppercase;
							text-align: center;
							padding: 20px;
							font-size: 20px;">
					@item.Name
				</h4>
			</div>
			<div class="card-body pt-0">
				<div class="widget-49">
					<div class="widget-49-title-wrapper">
						<div class="widget-49-date-primary">
							<span class="widget-49-date-day" style="text-transform: uppercase ">@item.LanguageId </span>
						</div>
						<div class="widget-49-meeting-info">
							<span class="widget-49-pro-title"><strong><localize>Trainer</localize>:</strong> @item.TrainerEmail</span>
							<span class="widget-49-meeting-time"><localize>Created</localize>: @item.DateCreated </span>
						</div>
					</div>
					<ol class="widget-49-meeting-points" style="padding: 0">


						<li class="widget-49-meeting-item"><span> <strong localize-content>.<localize>Start</localize>: </strong> <span style="text-transform: uppercase">@item.Start.ToShortDateString() </span>  </span></li>
						<li class="widget-49-meeting-item"><span> <strong localize-content><localize>.End</localize>: </strong> <span style="text-transform: uppercase"> @item.End.ToShortDateString() </span>  </span></li>
						<li class="widget-49-meeting-item"><span> <strong>.<localize>Address</localize>: </strong> <span>@item.Address </span>  </span></li>
						<li class="widget-49-meeting-item">
							<span style="
										  display:inline-block;
										  overflow: hidden;
										  text-overflow: ellipsis;
										  max-height: 13ch;"><strong localize-content>.<localize>Description</localize>: </strong>  @item.Description</span>
									</li>
								</ol>
								<div class="widget-49-meeting-action">
									<a class="btn btn-sm btn-flash-border-primary" style="font-weight: bold; color: midnightblue !important" href="@url"><localize>View More</localize></a>
								</div>
							</div>
						</div>
					</div>
				</div>}
		 <hr />

	</div>






	<div class="row">
		<h1 class="display-4 text-left"  style="width: 100% !important" localize-content>Online Training Course</h1>
		@foreach (var item in Model.LatestProducts)
		{
			var url = $"/{culture}/{_loc["productUrl"]}/{item.Id}";
@if (item.TrainingTypes.ToLower() == "online" || item.TrainingTypes == "Trực tuyến")
{

<div class="col-lg-4">
	<div class="card card-margin" style="line-height: 30px;">
		<div class="card-header no-border">
			<h4 class="card-title"
				style="color: midnightblue;
							display: block;
							font-weight: bold;
							text-transform: uppercase;
							text-align: center;
							padding: 20px;
							font-size: 20px;">
				@item.Name
			</h4>
		</div>
		<div class="card-body pt-0">
			<div class="widget-49">
				<div class="widget-49-title-wrapper">
					<div class="widget-49-date-primary">
						<span class="widget-49-date-day" style="text-transform: uppercase ">@item.LanguageId </span>
					</div>
					<div class="widget-49-meeting-info">
						<span class="widget-49-pro-title"><strong><localize>Trainer</localize>:</strong> @item.TrainerEmail</span>
						<span class="widget-49-meeting-time"><localize>Created</localize>: @item.DateCreated </span>
					</div>
				</div>
				<ol class="widget-49-meeting-points" style="padding: 0">


					<li class="widget-49-meeting-item"><span> <strong localize-content>.<localize>Start</localize>: </strong> <span style="text-transform: uppercase">@item.Start.ToShortDateString() </span>  </span></li>
					<li class="widget-49-meeting-item"><span> <strong localize-content><localize>.End</localize>: </strong> <span style="text-transform: uppercase"> @item.End.ToShortDateString() </span>  </span></li>
					<li class="widget-49-meeting-item"><span> <strong>.<localize>Address</localize>: </strong> <span>@item.Address </span>  </span></li>
					<li class="widget-49-meeting-item">
						<span style="
										  display:inline-block;
										  overflow: hidden;
										  text-overflow: ellipsis;
										  max-height: 13ch;"><strong localize-content>.<localize>Description</localize>: </strong>  @item.Description</span>
									</li>
								</ol>
								<div class="widget-49-meeting-action">
									<a class="btn btn-sm btn-flash-border-primary" style="font-weight: bold; color: midnightblue !important" href="@url"><localize>View More</localize></a>
								</div>
							</div>
						</div>
					</div>
				</div>}}

	


	</div>




	<div class="row">
		<h1 class="display-4 text-left"  style="width: 100% !important" localize-content>Offline Training Course</h1>
		@foreach (var item in Model.LatestProducts)
		{
			var url = $"/{culture}/{_loc["productUrl"]}/{item.Id}";
@if (item.TrainingTypes.ToLower() == "offline" || item.TrainingTypes == "Tại Cơ Sở")
{

<div class="col-lg-4">
	<div class="card card-margin" style="line-height: 30px;">
		<div class="card-header no-border">
			<h4 class="card-title"
				style="color: midnightblue;
							display: block;
							font-weight: bold;
							text-transform: uppercase;
							text-align: center;
							padding: 20px;
							font-size: 20px;">
				@item.Name
			</h4>
		</div>
		<div class="card-body pt-0">
			<div class="widget-49">
				<div class="widget-49-title-wrapper">
					<div class="widget-49-date-primary">
						<span class="widget-49-date-day" style="text-transform: uppercase ">@item.LanguageId </span>
					</div>
					<div class="widget-49-meeting-info">
						<span class="widget-49-pro-title"><strong><localize>Trainer</localize>:</strong> @item.TrainerEmail</span>
						<span class="widget-49-meeting-time"><localize>Created</localize>: @item.DateCreated </span>
					</div>
				</div>
				<ol class="widget-49-meeting-points" style="padding: 0">


					<li class="widget-49-meeting-item"><span> <strong localize-content>.<localize>Start</localize>: </strong> <span style="text-transform: uppercase">@item.Start.ToShortDateString() </span>  </span></li>
					<li class="widget-49-meeting-item"><span> <strong localize-content><localize>.End</localize>: </strong> <span style="text-transform: uppercase"> @item.End.ToShortDateString() </span>  </span></li>
					<li class="widget-49-meeting-item"><span> <strong>.<localize>Address</localize>: </strong> <span>@item.Address </span>  </span></li>
					<li class="widget-49-meeting-item">
						<span style="
										  display:inline-block;
										  overflow: hidden;
										  text-overflow: ellipsis;
										  max-height: 13ch;"><strong localize-content>.<localize>Description</localize>: </strong>  @item.Description</span>
									</li>
								</ol>
								<div class="widget-49-meeting-action">
									<a class="btn btn-sm btn-flash-border-primary" style="font-weight: bold; color: midnightblue !important" href="@url"><localize>View More</localize></a>
								</div>
							</div>
						</div>
					</div>
				</div>}}




	</div>




</div>
